DB_USER=root
DB_PASSWORD=my-secret-pw
COOKIE_SECRET=this-is-a-very-strong-secret
PASSWORD_PEPPER=this-is-a-very-strong-pepper
JWT_SECRET=jwt-secret
GITHUB_CLIENT_ID=Ov23liYeJaHEMxEuzN3G
GITHUB_CLIENT_SECRET=cf4feeeb503417fbcfadb82dec9662202c2ce220
