<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>



  <style>
    .container {
      display: flex;
      background-color: lightblue;
      height: 100vh;


      gap: 10px;
      flex-direction: column;








      /* how to center a div */
      /* how to justify space around the main axes, y in this case */
      /* justify-content: center; */

      /* how to justify space around the cross axes */
      /* align-items: center; */
    }

    .item {
      background-color: red;
      padding: 20px;
    }
  </style>


</head>

<body>

  <div class="container">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
  </div>

</body>

</html>