* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 5px;
}

/* ----------------------------------------- */

/* .note {
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
  background: rgb(210, 210, 210);
  padding: 20px;
  border-radius: 20px;
}

.note--normal {
  background: rgb(210, 210, 210);
  color: rgb(0, 0, 0);
}

.note--special {
  background: rgb(169, 226, 177);
  color: rgb(0, 90, 20);
}


.note__title {
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.button {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  border: black solid 1px;
}

.button--primary {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.button--secondary {
  background: white;
  color: black
} */




/* further refactor */
/* ----------------------------------------- */

.note {
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
  background: rgb(210, 210, 210);
  padding: 20px;
  border-radius: 20px;

  &.note--normal {
    background: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
  }

  &.note--special {
    background: rgb(169, 226, 177);
    color: rgb(0, 90, 20);
  }

  .note__title {
    font-weight: bold;
    font-size: 2rem;
  }

  .note__paragraph {
    margin: 15px 0;
  }
}

.button-group {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.button {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  border: black solid 1px;

  &.button--primary {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  &.button--secondary {
    background: white;
    color: black
  }
}